@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Asset #@ViewBag.assetId</h1>
    <p>Owner ID is @ViewBag.assetOwnerId</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>List of existing shares</h2>
        <p>
            @foreach (var item in ViewBag.shares)
            {
                @item <br />
            }
        </p>
        <a class="btn btn-default" href="">Create Shares</a>
        <a class="btn btn-default" href="">Invalidate Shares</a>
        <a class="btn btn-default" href="">Change Offer Price</a>
        <a class="btn btn-default" href="">Purchase Shares</a>
    </div>
</div>